.modal-div {
    position: absolute;
    top: 10px;  
    z-index: 5;
    background: white;
    text-align: left;
    line-height: 0.5;
    font-size: 13px;
    border: 1px solid #ccc;
    padding: 25px;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 84%;
    height: 69vh;
}

.close {
    position: relative;
    font-size: 16px;
}