.nav-mobile {
    background-color: #444444;
    padding: 9px 20px 0 20px;
    font-size: 35px;
    position: fixed;
    width: 100%;
}

.location-icon {
    color: white;
}

.fas fa-bars {
    color: white;
}
.fa-map-marker, .fa-bars  {
    color: white;
}

.nav-logo {
    padding-bottom: 21px;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

.nav-buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

.nav-list, .nav-map {
    width: 50%;
    padding: 15px;
    font-size: 16px;
    border: none
}

.orange {
    color: white;
    background-color: #f39231;
}

.white {
    background-color: white;
    color: #f39231;  
}

.wrapper {
    position: relative;
}

.filtered-map {
    filter: brightness(30%);
}

.truck-count {
    margin-left: 6vh;
    margin-top: 8vh;
    margin-bottom: 3vh;
}

.mobile-empty {
    background-color: #d8d8d8;
    margin-right: 6vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 80vh;
    width: 100%;
}