.mobile-modal-div {
    position: absolute;
    left: 7%;
    top: 12%;
    bottom: 12%;
    z-index: 5;
    background: white;
    text-align: left;
    line-height: 0.2;
    padding: 9px;
    width: 85%;
    height: 76%;
}

.mobile-close-icon {
    position: relative;
    font-size: 16px;
    margin-right: 5px;
    color: #949396;
}

.mobile-modal-dates {
    line-height: 0.5;
    font-size: 13px;
    margin-bottom: 2vh;
}

.mobile-modal-date, .mobile-phone {
    float: left;
}

.mobile-modal-times {
    margin-left: 48%;
}

.mobile-directions {
    margin-left: 46%;
}

.mobile-modal-dates p {
    margin-bottom: 13px;
}

.mobile-phone img, .mobile-directions img {
    width: 11%;
}

.mobile-details-btn {
    width: 95%;
    color: lightgray;
}

.mobile-mountain {
    width: 95%;
    margin-top: 7px;
    margin-bottom: 7px;
    display: block;  
    margin-left: auto;
    margin-right: auto;       
}

.mobile-modal-name {
    font-size: 16px;
}

.mobile-modal-address {
    font-size: 13px;
    line-height: 13px;
}

.mobile-number {
    float: left;
}

.mobile-modal-text {
    margin-left: 3vh;
}

.mobile-modal-icons {
    width: 100%;
    height: 4vh;
}

.mobile-phone-number, .mobile-car {
    font-size: 13px;
    color: #f39231;
}