.desktop-truck-card {
    overflow: scroll;
    height: 500px;
    border: 1px solid #eeeeee;
    height: 80vh;
    overflow-x: hidden;
    margin-left: 6vh;
    height: 70vh;
}

.desktop-truck-card::-webkit-scrollbar {
    width: .5em;
    border-radius: 5px;
}

.desktop-truck-card::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #a7a6a6;
    outline: none;
}

.desktop-card {
  width: 100%;
  text-align: left;
  margin: auto;
  font-size: 12px;
}

.card-text {
  padding: 5px;
}

.desktop-phone {
    font-size: 14px;
}

.address {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-align: left;
}

.address h4 {
    font-size: 14px;
    line-height: 14px;
}

.card-name {
    font-size: 18px;
}

.desktop-main {
    display: grid;
    grid-template-columns: 50% 50%;
}

.map {
    width: 50%;
    background-color: #d8d8d8;
}

.desktop-inner-card {
    border: 2px solid #eeeeee;
    box-shadow: 1px 1px #eeeeee;
    padding: 15px;
    line-height: 25px;
    border-radius: 3px;
}

.selected-inner-card {
    border: 1px solid lightgray;
    background-color: whitesmoke;
    padding: 15px;
}

.open {
    color: #47a07a;
    padding-top: 5px;
    padding-bottom: 5px;
}

.phone, .desktop-phone, .phone-number, .directions, .car {
    color: #f39231;
}

.phone-number {
    font-size: 14px;
}

.fa-car {
    float: left;
}

.directions-btn {
    margin-left: 0;
    margin-right: 8%;
}

.desktop-btn {
    padding: 7px;
    border-radius: 5px;
    display: inline-block;
    width: 45%;
    font-size: 80%;
    color: lightgray;
}