.modal-div {
    position: absolute;
    top: 10px;  
    z-index: 5;
    background: white;
    text-align: left;
    line-height: 0.2;
    font-size: 11px;
    padding: 5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 84%;
    height: 94%;
}

.close-icon {
    position: relative;
    font-size: 16px;
    margin-right: 5px;
    color: #949396;
}

.modal-dates {
    line-height: 0.5;
    font-size: 13px;
    margin-bottom: 5vh;
}

.modal-date {
    float: left;
}

.modal-times {
    margin-left: 46%;
}

.modal-dates p {
    margin-bottom: 10px;
}

.details-btn {
    width: 95%;
    color: lightgray;
}

.mountain {
    width: 96%;
    margin-top: 7px;
    margin-bottom: 7px;
    display: block;         
}

.modal-name {
    font-size: 16px;
}

.modal-address {
    font-size: 13px;
    line-height: 11px;
}

.phone {
    float: left;
}

.directions {
    margin-left: 46%;
}

.modal-text {
    margin-left: 2vh;
}

.modal-icons {
    width: 100%;
    height: 5vh;
}

